body{
    background-color: ivory;
}

.float-md-left.float-none {
    width: 50%;
    margin-right: 10px;
}

.card-img-overlay {
    padding: 0px;
    margin-top:60%;
}
.btn-warning {
    border-radius: 0;
    height: 40%;
    width: 100%;
}


.card-img {
    height: 300px;
    width: 300px;
    border: 2px black;
}
.card {
    margin-bottom: 25px;
    height: 300px;
    width: 300px;
}


.navbar {
    margin-bottom: 20px;
}

.card.bg-info {
    height: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35px;
    background: grey;
    padding: 10px;
}

a {
    color: black;
    text-decoration: underline;
}

.last {
    margin-bottom: 64px;
}