body{
    background-image: url("https://s3.eu-central-1.amazonaws.com/img.hromadske.ua/posts/images/000/029/497/medium/5.gif");
    background-size: 100%;
    background-color: ivory;
}

.float-md-left.float-none {
    width: 50%;
    margin-right: 10px;
}

.card-img-overlay {
    padding: 0px;
    margin-top:60%;
}
.btn-dark {
    border-radius: 0;
    height: 40%;
    width: 100%;
}


.card-img {
    height: 300px;
    width: 300px;
    border: 2px black;
}
.card {
    margin-bottom: 25px;
    height: 300px;
    width: 300px;
}


.navbar {
    margin-bottom: 20px;
}

.card.bg-info {
    height: 100%;
}


#git {
    color: black;
    text-decoration: underline;
}

.last {
    margin-bottom: 64px;
}

.gradient {
    background-image: linear-gradient(#10F3C3, #21B5F5);
}

.subgradient {
    background-image: linear-gradient(#21B5F5, #004DFF);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35px;
    background: grey;
    font-size: 12px;
    text-align: center;
    padding: 7px;
}

